<ion-view view-title="<img class='title-image' src='img/safetaxilogo.png'>">    

<ion-content onload="getRating()">
<style type="text/css">


</style>


<br>
<br>
<center>
    <h2>Taxi modelo: {{taxi.modelo}}</h2>
</center>
<br>
<center>
    <h2>Calificación promedio: {{taxi.ratingAvg.toFixed(1)}}</h2>
</center>
<br>
<br>
<br>
<br>


<center>
    <h2>Ingrese la calificación </h2>
        <ionic-ratings ratingsobj='ratingsObject' style="font-size: 50px" ></ionic-ratings>
    
    <br>
    <label class="item item-input">
        <textarea placeholder="Ingrese sus comentarios" text-align="center" ng-model="comment" required></textarea>
    </label>
    <br>
    <a href="#/app/playlists">
        <button class="button button-block button-positive" ng-click="sendRating(comment)" > Enviar calificación</button>
    </a>
</center>

</ion-content>
</ion-view>
