<ion-view view-title="<img class='title-image' src='img/safetaxilogo.png'>">	
<ion-nav-buttons side="right">
	
	<img src="http://graph.facebook.com/{{user.id}}/picture?width=40&height=40"/>
	<!-- <img src="img/silhouette.png"/> -->

</ion-nav-buttons>
<ion-content>
<style type="text/css">
.placa{
	background-image:url('placa.png');
	background-repeat:no-repeat;
	 background-position: center;
	 height:160px;	
}
.input{
  position: relative;
  top: 50% ;
  transform: translateY(-50%);
  text-align:center;
  height:80px;
}

</style>
<br>
<br>
<br>
<br>
<br>
<br>
<center>
	<label class="placa item widget uib_w_8 d-margins"  data-uib="ionic/input" data-ver="0">
		<!-- <i class="icon ion-search placeholder-icon"></i> -->
		<input type="text" ng-model="placa" style="background: transparent;border: none;font-size:90px;
	height:auto;" class="input bigText">
	</label>

	<br>
	<div style="background-color:{{myColor}}" ng-model="luz">
		<br>
		<br>
		<center>
		<h2>{{estado}}</h2>
		</center>
		<br>
		<br>
	</div>
	<br>
	<button class="button button-block button-positive" ng-click="getLicense(placa)"> Buscar</button>
</center>

</ion-content>
</ion-view>
