<ion-view title="Mapa">	
<body ng-app="starter">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Mapa</h1>
    </ion-header-bar> 

    <ion-content scroll="false">
      <map on-create="mapCreated(map)"></map>
      <a href="">
        <button class="button button-block button-positive" ng-click="sharePos()"> Compartir Ubicacion</button>
	</a>
    </ion-content>
    

  </body>
 </ion-view>


<!-- <ion-view view-title="<img class='title-image' src='img/safetaxilogo.png'>">
<ion-content ng-controller="MapController">
<div id="map" data-tap-disabled="true"></div>
<a href="#/app/calificar">
    <button class="button button-block button-positive" ng-click="shareLocation()"> Compartir Ubicación</button>
</a>
<br>
<a href="#/app/calificar">
    <button class="button button-block button-assertive" ng-click="sos()"> SOS</button>
</a>
</ion-content>

</ion-view> -->